/*---VARIABLES
=============================*/
$color-light: #e9ebfa;
$color-dark: #121212;
$color-danger: #fdab96;
$color-success: #85dfc5;
$color-warning: #f9c695;

/*---CLASSES
=============================*/
//background colors
.bg-light {
  background-color: $color-light;
}

.bg-dark {
  background-color: $color-dark;
}

.bg-danger {
  background-color: $color-danger;
}

.bg-success {
  background-color: $color-success;
}

.bg-warning {
  background-color: $color-warning;
}

//text colors
.text-light {
  color: $color-light;
}

.text-dark {
  color: $color-dark;
}

.text-danger {
  color: $color-danger;
}