@use "../abstracts/colors" as *;
@use "../abstracts/styles" as *;

.custom-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  padding: 1em;
  box-shadow: 0 0 3px rgba($color-light, 0.5);
  border: 2px solid $color-light;
  border-radius: $br-round;
  background-color: $color-dark;
  color: $color-light;
  width: 100%;
  &::placeholder {
    color: rgba($color-light, 0.5);
  }
}
