@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/styles" as *;

.popUpBackground {
  position: fixed;
  background-color: rgba($color-dark, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.addTask-container {
  position: relative;
  margin: 0 auto;
  height: auto;
  margin-top: calc(100vh - 85vh - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $br-round;
  border: 2px solid $color-light;
  background-color: $color-dark;
  box-shadow: 0 0 7px rgba($color-light, 0.5); //ADJUST
  min-width: 150px;
  max-width: 400px;
  padding: 10px;
}

.addTask-topBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  color: $color-light;
}

.addTask-inputContainer {
  display: flex;
  flex-direction: column;
  > * {
    margin: 10px 20px;
  }

  &:last-child {
    margin-bottom: 20px;
  }

  h1 {
    color: $color-light;
    font-weight: $fw-bold;
  }
}

.close-window {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.AiFillCloseCircle {
  font-size: 20px;
}